# Install Libraries & Load Data

In [2]:
# First, install the xlsxwriter library. We shall use this library to write the cleaned dataset to an Excel file.
%pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.1.2-py3-none-any.whl (153 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 153.0/153.0 kB 3.9 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.1.2

In [18]:
# Import all the libraries we shall need for data manipulation
import pandas as pd
import numpy as np
from datetime import datetime
import xlsxwriter

In [8]:
# Update the file path based on the correct location of the file
file_path = '/content/kidogo_data_systems_analyst_work_assignment.xlsx'

# List the sheet names you want to load
sheets_to_load = ['joining_session_data', 'qip_data']

# Loading the specified sheets into a dictionary where keys are sheet names and values are DataFrames
data_frames = pd.read_excel(file_path, sheet_name=sheets_to_load)

# Accessing the data for each sheet using the sheet names as keys
joining_session_data = data_frames['joining_session_data']
qip_data = data_frames['qip_data']

# EDA & Data Processing

# A. Joining_session Data Cleaning

In [9]:
#I will start with the first dataset and explore it
print(joining_session_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   start                        31 non-null     datetime64[ns]
 1   end                          31 non-null     datetime64[ns]
 2   date_signed_contract         31 non-null     datetime64[ns]
 3   cohort                       31 non-null     object
 4   county                       31 non-null     object
 5   community                    31 non-null     object
 6   kidogo_code_signed_contract  31 non-null     object
 7   _uuid                        31 non-null     object
 8   _submission_time             31 non-null     datetime64[ns]
 9   _submitted_by                31 non-null     object
dtypes: datetime64[ns](4), object(6)
memory usage: 2.5+ KB
None

All my data types are well detected by pandas, no null values  and so I will proceed to other data cleaning processes.

In [22]:
# Calculate the duration between 'end' and 'start' and store it in a new column 'DataCollectionDuration'
joining_session_data['DataCollectionDuration'] = (joining_session_data['end'] - joining_session_data['start']).dt.days

In [46]:
# Split the 'kidogo_code_signed_contract' column using the space delimiter and store the first section as 'kidogo_code'
joining_session_data['kidogo_code'] = joining_session_data['kidogo_code_signed_contract'].str.split().str[0]

In [47]:
# Calculate the duration  in program since signed contract and store it in a new column 'Duration in Program'
today_date = datetime.now()
joining_session_data['Duration in Program'] = (today_date - joining_session_data['date_signed_contract']).dt.days

In [48]:
cleaned_joining_session_data= joining_session_data
cleaned_joining_session_data.head(3)

,start,end,date_signed_contract,cohort,county,community,kidogo_code_signed_contract,_uuid,_submission_time,_submitted_by,DataCollectionDuration,Durationin Program,kidogo_code
0,2023-06-22 11:13:25.507,2023-06-22 11:16:05.290,2023-06-22,2023_cohort_1,kajiado,rongai,acc_3424843 acc_1024039 acc_5741937 acc_105703...,b87a61ff-0fd1-473c-a7bd-147f3357f469,2023-06-22 08:18:44,jedidaakinyi,0,27,acc_3424843
1,2023-06-23 13:39:34.912,2023-06-23 13:47:33.406,2023-06-23,2023_cohort_1,nairobi,umoja,acc_4928679 acc_2839702 acc_1312576 acc_495045...,5b6654f2-9f7b-4fed-80a1-72ac6c0ce8b1,2023-06-23 10:48:17,modestershikalo,0,26,acc_4928679
2,2023-06-21 16:24:39.358,2023-06-24 13:26:54.214,2023-06-20,2023_cohort_1,kajiado,gataka_rimpa,acc_1423728 acc_0005076 acc_1132921 acc_4042664,06d6a28e-64ba-46f0-8c9b-29760221e524,2023-06-24 10:30:04,helleneshimuli,2,29,acc_1423728

# B. QIP Data Processing

In [49]:
#I will go to the second dataset and explore it
print(qip_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 647 entries, 0 to 646
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   kidogo_code         647 non-null    object
 1   center              647 non-null    object
 2   center_type         647 non-null    object
 3   cohort              647 non-null    object
 4   program_stage       647 non-null    object
 5   gender              647 non-null    object
 6   county              647 non-null    object
 7   community           647 non-null    object
 8   latitude            256 non-null    float64
 9   longitude           256 non-null    float64
 10  paid_in             647 non-null    int64
 11  qip_fee_target      647 non-null    int64
 12  start_date          647 non-null    datetime64[ns]
 13  end_date            647 non-null    datetime64[ns]
 14  DurationOfContract  647 non-null    int64
 15  FeeBalance          647 non-null    int64
dtypes: datetime64[ns](2), float64(2), int64(4), object(8)
memory usage: 81.0+ KB
None

In [50]:
qip_data.head()

,kidogo_code,center,center_type,cohort,program_stage,gender,county,community,latitude,longitude,paid_in,qip_fee_target,start_date,end_date,DurationOfContract,FeeBalance
0,acc_1012857,Brightways,Home-Based,2023_cohort_1,qip,female,kajiado,gataka,-1.378628,36.721873,450,1200,2022-11-08 10:10:12.854,2022-11-08 10:17:07.871,0,750
1,acc_5036656,Emmaus academy,Center-Based,2023_cohort_1,qip,female,kajiado,gataka,-1.373770,36.725975,700,1200,2022-11-08 10:50:36.654,2022-11-08 11:02:36.950,0,500
2,acc_3757453,Eva praise,Home-Based,2023_cohort_1,qip,female,kajiado,gataka,-1.378446,36.723030,200,1200,2022-11-07 11:37:57.390,2022-11-08 11:01:57.945,0,1000
3,acc_1341940,MOC care,School-Based,2023_cohort_1,qip,female,kajiado,gataka,NaN,NaN,200,1200,2022-11-08 09:13:41.935,2022-11-08 11:53:53.854,0,1000
4,acc_3157718,Shinning star,School-Based,2023_cohort_1,qip,female,kajiado,gataka_acacia,NaN,NaN,0,1200,2022-11-07 11:31:57.700,2022-11-07 11:38:51.066,0,1200

In [51]:
# Remove leading and trailing whitespaces from column names
qip_data.columns = qip_data.columns.str.strip()

In [52]:
# Convert 'start_date' and 'end_date' columns to datetime data type and remove timezone information
qip_data['start_date'] = pd.to_datetime(qip_data['start_date']).dt.tz_localize(None)
qip_data['end_date'] = pd.to_datetime(qip_data['end_date']).dt.tz_localize(None)
#calculate the duration of contract
qip_data['DurationOfContract'] = ((qip_data['end_date'] - qip_data['start_date']) / pd.Timedelta(days=30.44)).round().astype(int)

In [53]:
qip_data['FeeBalance'] = (qip_data['qip_fee_target'] - qip_data['paid_in']).round().astype(int)

In [58]:
qip_data.head(3)

,kidogo_code,center,center_type,cohort,program_stage,gender,county,community,latitude,longitude,paid_in,qip_fee_target,start_date,end_date,DurationOfContract,FeeBalance
0,acc_1012857,Brightways,Home-Based,2023_cohort_1,qip,female,kajiado,gataka,-1.378628,36.721873,450,1200,2022-11-08 10:10:12.854,2022-11-08 10:17:07.871,0,750
1,acc_5036656,Emmaus academy,Center-Based,2023_cohort_1,qip,female,kajiado,gataka,-1.373770,36.725975,700,1200,2022-11-08 10:50:36.654,2022-11-08 11:02:36.950,0,500
2,acc_3757453,Eva praise,Home-Based,2023_cohort_1,qip,female,kajiado,gataka,-1.378446,36.723030,200,1200,2022-11-07 11:37:57.390,2022-11-08 11:01:57.945,0,1000

In [55]:
cleaned_qip_data= qip_data
cleaned_qip_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 647 entries, 0 to 646
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   kidogo_code         647 non-null    object
 1   center              647 non-null    object
 2   center_type         647 non-null    object
 3   cohort              647 non-null    object
 4   program_stage       647 non-null    object
 5   gender              647 non-null    object
 6   county              647 non-null    object
 7   community           647 non-null    object
 8   latitude            256 non-null    float64
 9   longitude           256 non-null    float64
 10  paid_in             647 non-null    int64
 11  qip_fee_target      647 non-null    int64
 12  start_date          647 non-null    datetime64[ns]
 13  end_date            647 non-null    datetime64[ns]
 14  DurationOfContract  647 non-null    int64
 15  FeeBalance          647 non-null    int64
dtypes: datetime64[ns](2), float64(2), int64(4), object(8)
memory usage: 81.0+ KB

# Writting the cleaned dataset into excel

In [57]:
# Write 'cleaned_qip_data' to Excel
with pd.ExcelWriter('cleaned_dataset.xlsx') as writer:
    cleaned_qip_data.to_excel(writer, sheet_name='cleaned_qip_data', index=False)

# Write 'cleaned_joining_session_data' to the same Excel file
with pd.ExcelWriter('cleaned_dataset.xlsx', engine='openpyxl', mode='a') as writer:
    cleaned_joining_session_data.to_excel(writer, sheet_name='cleaned_joining_session_data', index=False)